h1{
    color:#ffeb3b;
    background-color: black;
   margin-left: 10%;
   margin-bottom: 5%;
   font-size: 40px;
    text-align: center;
    width: 80%;
    font-weight: 300;
    font-style: normal;
}

.contrato{
    background-color: black;
    color: #dcdcdc;
    justify-content: center;
    padding-left: 16%;
}
.pre-contrato{
    font-size: 17px;
 font-weight: 500;
 width: 80%;
 padding-bottom: 3%;
}
.preambulo{
    padding-bottom: 1%;
}
.texto-preambulo{
    font-weight: 400;
}
.clausulas{
    width: 80%;
    font-size: 17px;
}
h3{
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 2%;
}

.pos-clausula{
    padding-top: 5%;
    padding-bottom: 4%;
    
}

.pos-clausula p{
    padding-bottom: 3%;
}